<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogLevel="info"
  internalLogFile="${basedir}/logs/infolog/-info.txt">
	<targets>
		<!-- write logs to file  -->
		<target xsi:type="File" name="SellingSystem"
		  fileName="${basedir}/logs/infolog/${shortdate}/testing.log"
		  layout="${longdate} | ${event-properties:item=EventId.Id} | ${uppercase:${level}} | ${logger} | ${message} - ${exception}" />

		<target xsi:type="File" name="testTarget"
		  fileName="${basedir}/logs/infolog/${shortdate}-TestFile.log"
		  layout="${longdate} | ${event-properties:item=EventId.Id} | ${uppercase:${level}} | ${logger} | ${message} - ${exception}" />
	</targets> 
	<rules>
		<logger name="testrule" minlevel="Trace" writeTo="testTarget" />
		<logger name="*" minlevel="Trace" writeTo="SellingSystem" />
	</rules>
</nlog>